<!--
<!DOCTYPE html>
<html lang="en" lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  &lt;!&ndash; CSS only &ndash;&gt;
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
 &lt;!&ndash; <form class="form-inline" method="post" action="log">
    <div class="form-group mx-sm-3 mb-2">
      <label for="inputLogin" class="sr-only">Login</label>
      <input type="text" class="form-control" id="inputLogin" placeholder="Login" name="login">
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
  </form>&ndash;&gt;
</div>

</body>
</html>-->
